<section>
    <h1>Projeto CRUD</h1>
    <form [formGroup]="pessoa">
        <input type="text" formControlName="nome" placeholder="Nome" class="form-control">
        <input type="number" formControlName="idade" placeholder="Idade" class="form-control">
        <input type="text" formControlName="cidade" placeholder="Cidade" class="form-control">

        <div>
            @if (btCadastrar) {
                <input type="button" (click)="cadastar()" [disabled]="pessoa.invalid" value="Cadastrar" class="btn btn-primary">
            } @else {
                <input type="button" (click)="alterar()" value="Alterar" class="btn btn-primary">
                <input type="button" (click)="remover()" value="Remover" class="btn btn-primary">
                <input type="button" (click)="cancelar()" value="Cancelar" class="btn btn-primary">
            }
        </div>
    </form>
  
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Cidade</th>
            </tr>
        </thead>
        <tbody>
            @for (usuario of listaUsuario; track usuario.id) {
                <tr (click)="selecionar(usuario)">
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.idade}}</td>
                    <td>{{usuario.cidade}}</td>
                </tr>
                }
        </tbody>
    </table>
</section>


